html {
  font-size: 62.5%;
}

:root {
  --base: #ffc600;
  --spacing: 1rem;
  --blur: 1rem;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
}

.controls {
  margin-bottom: 5rem;
}

img {
  background: var(--base);
  filter: blur(var(--blur));
  padding: var(--spacing);
}

.hl {
  color: var(--base);
}

a {
  text-decoration: none;
  color: var(--base);
}

input {
  width: 10rem;
}
